.main{
  margin-top: 20px;
}
.header{
  font-size: 25px;
  height: 60px;
  background-color: black;
  color: white;
  padding: 10px;
  .title{
    padding-left: 20px;
  }
}

.loading-screen-wrapper {
  z-index: 100000;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  display: block;
}
.row{
  margin-right: 0!important;
}
.loading-screen-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.action-button{
  padding: 0px 0px 8px 8px;
  cursor: pointer;
  opacity: 0.5;
  &:hover{
    opacity: 1;
  }
}
.header-action{
  cursor: pointer;
}
.item-row{
  border-bottom: 1px #999 solid;
}
.col-2 img{
  width: 40px;
  height: 40px;
}
.table-header-row{
  border-bottom: 2px #999 solid;
}
.header-buttons{
  text-align: right;
  button{
   margin-right: 10px;
 }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1000px) {
  .title-name {
    display:none;
  }
  .title-header{
    font-size: 15px;
  }
  .header{
    height:40px;
    font-size: 15px;
    padding: 10px;
  }
}
