<div class="loading-screen-wrapper" *ngIf="loading">
  <div class="loading-screen-icon">
    Loading...
  </div>
</div>

<div class="header container-fluid">
  <div class="row">
    <div class="col-6">
      <i class="fas fa-tools"></i>
      <span class="h2 title-header">Feeds admin</span>
    </div>
    <div class="col-6 text-right">
      <i *ngIf="codeOk" class="pl-5 fas fa-user header-action" (click)="cleanCode()" title="logout admin"></i>
      <span *ngIf="card" class="pl-5 header-action" (click)="cleanTenant()" title="change tenant">
        <i class="fas fa-home"></i>
        <span class="h3 title-name">{{card.greeting}}</span>
      </span>
    </div>
  </div>
</div>
<div class="main container">
  <div class="input-group mb-3" *ngIf="!codeOk">

    <input type="text" class="form-control" placeholder="Admin code" aria-label="Admin code"
      aria-describedby="basic-addon2" [(ngModel)]="code">
    <div class="input-group-append">
      <button (click)="setCode()" [disabled]="loading">Access</button>
    </div>
  </div>
  <div class="input-group mb-3" *ngIf="!feeds && codeOk">
    <input type="text" class="form-control" placeholder="Tenant ID" aria-label="Tenant ID"
      aria-describedby="basic-addon2" [(ngModel)]="tenantId">
    <div class="input-group-append">
      <button (click)="fetchIdCard()" [disabled]="loading">Connect</button>
    </div>
  </div>
  <h5 class="text-danger">{{errorMsg}}</h5>
  <div class="main-list" *ngIf="feeds">
    <div class="header-buttons">
      <button class="btn btn-primary btn-sm" [disabled]="loading" (click)="open()">+ Add</button>
      <button class="btn btn-danger btn-sm" (click)="publish()"
        [disabled]="!containsChanges || loading">Publish</button>
    </div>
    <div *ngIf="feeds">
      <div class="row h3 table-header-row">
        <div class="col-1"></div>
        <div class="col-7">text</div>
        <div class="col-2">Image</div>
        <div class="col-2"></div>
      </div>
      <div class="row item-row" *ngFor="let feed of feeds;index as i">
        <div class="col-1">{{i+1}} <i *ngIf="isShown(feed)" class="fas fa-eye"></i></div>
        <div class="col-7">{{feed.mainText}}

        </div>
        <div class="col-2">
          <img *ngIf="feed.imgSource" src="{{feed.imgSource}}" alt="Solid Background" class="rounded-circle img-fluid">
        </div>
        <div class="col-2">
          <i *ngIf="feed.isActive" class="fas fa-pause action-button" (click)="setActive(feed,false)"
            title="Deactivate"></i>
          <i *ngIf="!feed.isActive" class="fas fa-play action-button" (click)="setActive(feed,true)"
            title="Activate"></i>
          <i class="far fa-edit action-button" (click)="open(feed)" title="Edit"></i>
          <i class="fas fa-trash action-button" (click)="delete(feed)" title="Permanently Delete"></i></div>
      </div>


      <!-- <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">text</th>
            <th scope="col">Img</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feed of feeds;index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{feed.mainText}}</td>
            <td>{{feed.imgSource}}</td>
            <td>

              <i *ngIf="feed.isActive" class="fas fa-pause action-button" (click)="setActive(feed,false)"
                title="Deactivate"></i>
              <i *ngIf="!feed.isActive" class="fas fa-play action-button" (click)="setActive(feed,true)"
                title="Activate"></i>
              <i class="far fa-edit action-button" (click)="open(feed)" title="Edit"></i>
              <i class="fas fa-trash action-button" (click)="delete(feed)" title="Permanently Delete"></i>
            </td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>
