<div class="loading-screen-wrapper" *ngIf="loading">
  <div class="loading-screen-icon">
    Loading...
  </div>
</div>
<div class="header container-fluid">
  <div class="row">
    <div class="col-6">
      <i class="fas fa-tools"></i>
      <span class="h2 title-header">Feeds admin</span>
    </div>
    <div class="col-6 text-right">
      <span class="text-secondary h6 pl-5 lang-switch" *ngIf="translate.currentLang != 'en'"
        (click)="switchLang('en')">ENG</span>
      <span class="text-secondary h6 pl-5 lang-switch" *ngIf="translate.currentLang != 'he'"
        (click)="switchLang('he')">עברית</span>
      <i *ngIf="codeOk" class="pl-5 fas fa-user header-action" (click)="cleanCode()" title="logout admin"></i>

      <span *ngIf="card" class="pl-5 header-action" (click)="cleanTenant()" title="change tenant">
        <i class="fas fa-home"></i>
        <span class="h3 title-name">{{card.greeting}}</span>
      </span>


    </div>
  </div>
</div>
<div class="main container">
  <div class="input-group mb-3" *ngIf="!codeOk">

    <input type="text" class="form-control" placeholder="Admin code" aria-label="Admin code"
      aria-describedby="basic-addon2" [(ngModel)]="code">
    <div class="input-group-append">
      <button (click)="setCode()" [disabled]="loading">Access</button>
    </div>
  </div>
  <div class="input-group mb-3" *ngIf="!feeds && codeOk">
    <input type="text" class="form-control" placeholder="Tenant ID" aria-label="Tenant ID"
      aria-describedby="basic-addon2" [(ngModel)]="tenantId">
    <div class="input-group-append">
      <button (click)="fetchIdCard()" [disabled]="loading">Connect</button>
    </div>
  </div>
  <h5 class="text-danger">{{errorMsg}}</h5>
  <div class="main-list" *ngIf="feeds">
    <div class="header-buttons">
      <button class="btn btn-primary btn-sm" [disabled]="loading" (click)="open()" translate>+ Add</button>
      <button class="btn btn-danger btn-sm" (click)="publish()" [disabled]="!containsChanges || loading"
        translate>Publish</button>
    </div>
    <div *ngIf="feeds">
      <div class="row table-header-row">
        <div class="col-1"></div>
        <div class="col-6" translate>Text</div>
        <div class="col-2" translate>Image</div>
        <div class="col-2"></div>
      </div>
      <div class="row item-row" *ngFor="let feed of feeds;index as i">
        <div class="col-1">{{i+1}} <i *ngIf="isShown(feed)" class="fas fa-eye"></i></div>
        <div class="col-6">{{feed.mainText}}

        </div>
        <div class="col-2">
          <img *ngIf="feed.imgSource" src="{{feed.imgSource}}" alt="Solid Background"
            class="border rounded-circle img-fluid">
        </div>
        <div class="col-2">
          <i *ngIf="feed.isActive" class="fas fa-pause action-button" (click)="setActive(feed,false)"
            title="Deactivate"></i>
          <i *ngIf="!feed.isActive" class="fas fa-play action-button" (click)="setActive(feed,true)"
            title="Activate"></i>
          <i class="far fa-edit action-button" (click)="open(feed)" title="Edit"></i>
          <i class="fas fa-trash action-button" (click)="delete(feed)" title="Permanently Delete"></i></div>
      </div>
    </div>
  </div>
</div>

<ng-template #confirmation let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" translate>Tip!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <h5>{{confirmText}}</h5>
    </div>
    <div class="">
      <input type="checkbox" name="dontShow" id="dontShow" [(ngModel)]="dontShow">
      <label for="dontShow" translate>dont show this again</label>
    </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" translate>Ok</button>
  </div>
</ng-template>
