.subtext{
  position: absolute;
}
.sub-image{
  width: 200px;
  height: 200px;
}
.main-text{
  text-shadow: -8px 8px 20px #000,8px -8px 20px #000;
  font-weight: bold;
}
.row {
  margin: 0 auto;
}
.main-image{
  width: 100%;
}

/* If the screen size is 1024px wide or more, set the font-size of <div> to 80px */
@media screen and (width: 1024px) {
  .sub-text{
    font-size: 30px;
  }
}

.blank-img{
  height: 500px;
  width: 900px;
}
.slide-container{
  position: relative;
  text-align: center;
}
.bg-img{
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

}
.main-caption{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // animation-name: fadeIn;
  // animation-delay:0s;
  // animation-duration: 1s;
}
.sub-image{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 15%;
  height: 15%;
  max-width: 150px;
  max-height: 150px;
}
.over-hid{
  overflow: hidden;
}

@media screen and (max-width: 400px){
  .slide{
    width: 280px;
  }

}

@media screen and (min-width: 401px) and (max-width: 720px) {
  .slide{
    width: 350px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1023px) {
  .slide{
    width: 550px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .slide{
    width: 550px;
    height: 800px;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .slide{
    width: 850px;
    height: 900px;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .slide{
    width: 1000px;
    height: 720px;
  }
}

@media screen and (min-width: 1921px) {
  .slide{
    width: 1300px;
    height: 950px;

  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.postit {
  line-height: 1;
  text-align:center;
  width: 100%;
  margin: 25px;
  // min-height:250px;
  // max-height:250px;
  padding-top:35px;
  position:relative;
  border:1px solid #E8E8E8;
  border-top:60px solid #fdfd86;
  font-family:'Reenie Beanie';
  font-size:22px;
  border-bottom-right-radius: 60px 5px;
  // display:inline-block;
  background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.postit:after {
  content: "";
  position:absolute;
  z-index:-1;
  right:-0px; bottom:20px;
  width:200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.art-picture{
  border: 15px rgb(190, 138, 113) solid;
}
.post-it{
  transform: rotate(3deg);
  border: 15px rgb(0, 0, 0) solid;
}

