<div *ngIf="idCard" class="main-container text-center text-white h-100 pt-1">
  <div class="greet-text display-3">Welcome</div>
  <div class="greet-text h1">
    {{idCard.greeting}}
  </div>
  <hr />
  <div class="date-text">
    <!-- <span>{{now | date:"EEEE, MMMM d"}}</span> -->
    <span>{{now | date:"dd/MM/yy"}}</span>
  </div>
  <div class="current-time feed-text clock-text">
    <img src="assets/images/clock2.png" class="clock-icon" alt="" srcset="">
    <!-- <i class="far fa-clock"></i> -->
    <span>{{now | date:"HH:mm"}}</span>
  </div>
  <hr />
  <div class="current-weather-text">
    <div *ngIf="weather && weather[0]">
      <span class="weather-description">{{weather[0].description}}</span>
      <img src="https://openweathermap.org/img/wn/{{weather[0].icon}}@2x.png" alt="" srcset="">
    </div>
    <img src="assets/images/temperature.png" class="temperature-icon" alt="" srcset="">
    <span>{{temperature}}&deg;</span>/
    <img src="assets/images/sweat.png" class="temperature-icon" alt="" srcset="">
    <!-- <i class="far fa-grin-beam-sweat pr-2"></i> -->
    <span>{{humidity}}%</span>

  </div>
  <hr />
  <div *ngIf="swellPeriod" class="current-weather-text">
    <div>{{idCard.wavesSpot}} </div>
    <div>
      <img *ngFor="let star of wavesMaxDummyStars;let i = index" src="assets/images/star.png"
        [class.solid-star]="i < wavesStars" class="wave-star-icon" alt="">
    </div>
    <div class="h4">
      <small *ngIf="wavesStars == 0 && nextSwellInDays  == 0">
        Swell in a few hours
      </small>
      <small *ngIf="wavesStars == 0 && nextSwellInDays  == 1">
        Swell tomorrow
      </small>
      <small *ngIf="wavesStars == 0 && nextSwellInDays > 1">
        Swell in {{nextSwellInDays}}d
      </small>
    </div>
    <div class="waves-container">
      <img src="assets/images/wave.png" class="wave-icon" alt="" srcset="">
      <span>{{swellHeight}}m</span>/
      <span>{{swellPeriod}}sec </span>
    </div>
    <a href="http://magicseaweed.com"><img src="https://im-1-uk.msw.ms/msw_powered_by.png"></a>
  </div>


</div>
