.news-provider-logo{
  height: 40px;
  padding-left: 8px;
}

// @media only screen
// and (min-device-width : 100px)
// and (max-device-width : 768px) {
//   .article-container {
//     font-size: small;
//   }
// }


// @media only screen
// and (min-device-width : 768px)
// and (max-device-width : 1024px)  {
//   .article-container {
//     font-size: medium;
//   }
// }
.row {
  margin: 0 auto;
}

